body {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  background-image: url("https://wallpaperaccess.com/full/3014660.jpg");
  color: aliceblue
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.menutag {
	
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.jumbotron {
	background-image: url("Images/anna-gru-omL9Q8B2YCI-unsplash.jpg");
	color: #FFFFFF
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color:#311A08
	
}

.footer-text {
	
    text-align: center;
	vertical-align: middle;
	line-height: 90px;
	height: auto;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

.img-fluid {
	width: 500px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
	opacity: 1;

	
}


.gametext {
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	height: auto;
}
.btn-primary {
	margin: 0 auto;
	display:block;
	width: 20%;
	margin-top: 20px;
}

.buttoncont {
	text-align: center;
}

.btn {
	display:inline-block;
	background-color: #98090B
}

.btn:hover {
	background-color: #98090B
}

.rounded	 {

width: 500px;
height: 500px;
}
.maintext {
	font-size: 20px;
}

.maintextdeath {
	color: red;
	font-size: 50px;
	text-align-last: center;
}


.form1 {
	background-color: #88471D
}

#userInput {
	background-color:#6B2F03;
	border-color: #6B2F03;
	color: white;
		
}
#sub {
	background-color:#6B2F03;
	border-color: #6B2F03;

}
#startText {
	font-size: 20px;
}